<a href="https://colab.research.google.com/github/Anusha-san/Data-Science/blob/main/Practice_Excercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

Q1 :- Write a program that will convert celsius value to fahrenheit.

In [ ]:
c = float(input("Enter temperature in celsius: "))
fahrenheit = (c * 1.8) + 32
print(str(c)+ " degree Celsius is equal to " + str(fahrenheit )+ " degree Fahrenheit.")

Enter temperature in celsius: 45
45.0 degree Celsius is equal to 113.0 degree Fahrenheit.

Q2:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:

x = input('Enter value of x: ')
y = input('Enter value of y: ')

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 5
Enter value of y: 8
The value of x after swapping: 8
The value of y after swapping: 5

Q3:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:

Amount = int(input("Enter the amount: "))
Year = int(input("Enter the number of years: "))
Rate = float(input("Enter the rate of interest: "))

SimpleInterset = (Amount*Year*Rate)/100

print("The simple interset is:", SimpleInterset)

Enter the amount: 20000
Enter the number of years: 3
Enter the rate of interest: 10
The simple interset is: 6000.0

Q4:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:

Input: heads -> 4 legs -> 12

Output: dogs -> 2 chicken -> 2

In [ ]:
#put your code here

Q5:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
def sumOfSquares(n) :
    if n < 0:
        return
    sum = 0
    for i in range(n+1):
        sum += i*i
    return sum

n = int(input('Enter n : '))
sum = sumOfSquares(n)
print(f'Sum : {sum}')

Enter n : 10
Sum : 385

Q6:- Display Fibonacci series up to 10 terms.
Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [ ]:

a, b = 0, 1

for i in range(10):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

Q7:-Reverse a given integer number.

In [ ]:
num = int(input("Enter an integer number: ")) 

rev = 0 

while num > 0:
    rev = rev * 10 + num % 10  
    num = num // 10  

print("The reversed number is:", rev)

Enter an integer number: 56
The reversed number is: 65

Q8:-Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
result = []  
for i in range(2000, 3201):
    if (i % 7 == 0 and i % 5 != 0):
        result.append(str(i))  
print(','.join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [ ]:
for i in range(5, 0, -1): 
    for j in range(i, 0, -1):  
        print(j, end=' ')  
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

In [ ]:
for i in range(1, 6): 
    print('* ' * i) 
for i in range(4, 0, -1): 
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

###`Problem 3`: Write a program to print all the unique combinations of 1,2,3 and 4 

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [ ]:
#put your code here

### **`Problem-4:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

### **`Problem 5:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
#put your code here

### **`Problem 6:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[]
for i in l1:
  if i%2==0:
    l2.append(i)
print(l2)

[2, 4, 6, 8, 10]