<a href="https://colab.research.google.com/github/Anusha-san/Data-Science/blob/main/python_06_04_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
#loop

#1. while loop

i = 1

while i<11:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2. for loop

for i in range(1,11):
  print(i)

a = 'hello'
for i in a:
  print(i)

In [ ]:
#loop control statements:
# 1. break
# 2 . continue
# 3. pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,10):
  pass

In [ ]:
#functions
# 1. resuable 
type:
# 1. user define
# 2 . built-in(len)

In [ ]:
def is_even(i):
  x  =  i%2==0
  return x

is_even(3)

False

In [ ]:
def is_even(num): #function define
  if num %2 == 0:
    return 'even'
  else:
    return 'odd'
is_even(10) #function call

'even'

In [ ]:
# types of argument

#1. default arugument

def power(a=3,b=2):
  return a**b
power()

6

In [ ]:
#2. positional argument


def power(a=1,b=1):
  return a**b
power(2,3)

8

In [ ]:
# 3. keyword argument
def power(a,b):
  return a**b
power(a=2,b=3)  #keyword

8

In [ ]:
#special python keywords

# *args and **kwargs

def multi(*args):
  prod = 1
  for i in args:
    prod = prod *i
  return prod

multi(1,2,3,4,5,6,7,8,9,10)

3628800

In [ ]:
def nation(**kwargs):
  for(key,value) in kwargs.items():
    print(key,'-',value)

nation(asia='india',europe= 'london')

asia - india
europe - london

In [ ]:
#lambda functions
# 1. small function
# 2. one line function
# 3. no use in resuable

a = lambda x:x**2

a(5)

25

In [ ]:
# diff b/w lamba and normal function
# 1.no need of defination
# 2. no return value
# 3. written in one line
# 4. not reusable

In [ ]:
for i in range(1,10):
  for j in range(i,10):
    print(j,end=' ')
  print()

1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9
3 4 5 6 7 8 9
4 5 6 7 8 9
5 6 7 8 9
6 7 8 9
7 8 9
8 9
9

In [ ]:
# 1. basics
# 2. data types
# 3. containers
# 4. loops
# 5. control statement
# 6. function
# 7. lambda function
# 8. spl keywords(*args and **kwargs)

In [ ]:
# OOPS

In [ ]:
a  = 10

print(type(a))

<class 'int'>

In [ ]:
# object and class

# class- blueprint
# object - House

# object properties
# 1. id
# 2. Attribute
# 3. behaviour

# In python everything is object

In [ ]:
#  OOPS
# 1. class and object
# 2. inheritance
# 3. ploymorphism
# 4. abstraction
# 5. Encapsulation

In [ ]:
 tupl=(5,3,1,9,0)

print(tupl[:-1])
print(tupl[0:5])
print(tupl[0:4])
print(tupl[-4:])

(5, 3, 1, 9)
(5, 3, 1, 9, 0)
(5, 3, 1, 9)
(3, 1, 9, 0)